* {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
a {
	text-decoration: none;
	color: #2EA2CC;
	-webkit-transition-duration: 1s; 
	transition-duration: 1s;
	cursor: pointer; 
	cursor: hand;
}

/*Nav Bar Section*/
nav {
	position: fixed;      
	background-color: rgba(0, 0, 0, 0.6);
	height: 75px;
	width: 100%;
	top: 0;
	z-index: 1;
}

nav a:hover {
	color: #ffffff;
}

nav a .logo {
	float: left;
	margin-top: 6px;
	margin-left: 45px;
	height: 60px;
	width: 145px;
	padding-left: 65px;
	padding-right: 25px;
	animation-duration: 5s;
}

nav ul {
	margin: 0 auto;
	margin-top: 25px;
	width: 629px;
}

nav li {
	float: left;
	list-style: none;
	margin-right: 25px;
}


/*header section with fixed background*/


header {
	background-image: url(../img/nurse-group.png);
	background-attachment: fixed;	 
	background-size: cover;
	background-position: center;
	height: 500px;
	color: #ffffff;
	text-align: center;
}

header .overlay {
	position: absolute;
	height: 500px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.65);
	
}

header .head {
	position: absolute;
	width: 100%;
	top: 100px;
	font-size: 65px;
	opacity: 0;
}

header .js-head-animate {
	animation-duration: 2s;
	opacity: 1;
}

header .overlay h3 {
	position: absolute;
	width: 100%;
	top: 250px;
	font-size: 30px;
	color: #2EA2CC;

}

header .leftButton,.rightButton {
	position: absolute;
	top: 380px;
	padding: 15px;
	background: none;
	border: double;
	border-color: #2EA2CC;
	border-radius: 3px;
	border-width: 6px;
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
	cursor: pointer; 
	cursor: hand;
	-webkit-transition-duration: 1.5s; 
	transition-duration: 1.5s;
}

header .leftButton:hover,.rightButton:hover {
	background-color: #2EA2CC;
	font-size: 22px;
	font-weight: 100;

}

header .leftButton {
	left: 52%;
	opacity: 0;	
}

header .js-leftButton-animate {
	opacity: 1;
	animation-duration: 2.5s;
}

header .rightButton {
	right: 52%;	
	opacity: 0;
}

header .js-rightButton-animate {
	opacity: 1;
	animation-duration: 2.5s;
}

/*Brief Description Section*/
.descript {
 	background-color: #ffffff;
 	height: 400px;
 	width: 100%;
 }

 .wrapper {
	margin-left: 2%;
	margin-right: ;
 	padding-top: 50px;
 	padding-left: 75px;
 }

.info {
	float: left;
 	width: 290px;
  	margin-right: 100px;
 	text-align: center;
 	 

 }

 .info h3 {
 	font-weight: bolder;
 	margin-bottom: 25px;
 }

 .info h4 {
 	font-weight: lighter;
 	line-height: 175%;
 }

 .info img {
 	margin-bottom: 25px;
 }

 .info .subInfoA {
 	opacity: 0;
 }
 .info .subInfoB {
 	opacity: 0;
 }
 .info .subInfoC {
 	opacity: 0;
 }
.info .js-subInfo-animate-a { 
	opacity: 1;
	animation-duration: .5s; 
}
.info .js-subInfo-animate-b { 
	opacity: 1;
	animation-duration: 1.5s; 
}
.info .js-subInfo-animate-c { 
	opacity: 1;
	animation-duration: 2.5s; 
}


/* Contact Section */
.contact {
	background-color: #2EA2CC;
	height: 300px;
}

.contact .mailImage {
	float: left;
	margin-top: 50px;
	padding-left: 100px;
}

.contact .mailImage {
	opacity: 0;
}

.contact .js-mailImage-animate {
	opacity: 1;
	animation-duration: 2s; 
}


.contact .contactText {
	display: inline-block;
	text-align: center;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 0px;
	color: #ffffff;
	width: 600px;
}

.contact h2 {
	font-size: 55px;
}

.contact h3 {
	font-size: 20px;
	font-weight: lighter;
}


.contact .contactBtn {
	padding: 15px;
	margin-top: 75px;
	margin-right: 150px;
	float: right;
	background: none;
	border: double;
	border-color: #000000;
	border-radius: 3px;
	border-width: 6px;
	font-size: 15px;
	font-weight: 500;
	color: #ffffff;
	cursor: pointer; 
	cursor: hand;
	-webkit-transition-duration: 1.5s; 
	transition-duration: 1.5s;
	opacity: 0;
}

.contact .js-contactBtn-animate {
	opacity: 1;
	animation-duration: 2s;
}


.contactBtn:hover {
	background-color: #000000;
	font-size: 17px;
	color: #ffffff;
	font-weight: 100
}

/*footer*/

footer {
	height: 75px;
	width: 100%;
	background-color: #000000;
	color: #ffffff;
}

footer a  img {
	float: left;
	margin-top: 6px;
	margin-left: 135px;
	height: 60px;
	width: 145px;
	padding-right: 25px;
}


footer .copy {
	position: absolute;
	left: 500px;
	margin-top: 35px;	

}

footer .ref {
	float: right;
	margin-right: 50px;
	margin-top: 25px;
}




